@{
    ViewBag.Title = "Kundvagn";
}
<h2>@ViewBag.Title.</h2>

@ViewBag.Confirm

@if(ViewBag.AddedBookList != null)
{
    foreach (Book item in ViewBag.AddedBookList)
    {
        <p>Boktitel: @item.Title</p>
    }
}
